.hello-world{
    background-color:blue;
    text-align: center;
    clear:both;
	color:white;
   margin-top: 0;
    border: 10px;

}
.hello-world:hover{
    background-color:brown;
    color:yellow;
}	